.main-menu-container{
    width: 100%;
    max-width: 100% !important;
    background-color: rgb(38, 38, 38);
    padding-bottom: 1rem !important;
}

.container{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}

.menu-col{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 0.5rem;
}

.menu-mobile-row{
    visibility: hidden;
}

.menu-icon{
    color: #D6CCC2;
    font-size: 3rem;
}

.menu-icon:hover{
    background-color: rgb(0,0,0,0.2);
}

.dropdown-header{
    color: #D6CCC2 !important;
    font-size: 1.2rem !important;
}

.dropdown-header:hover{
    /* color: #2ab7ca !important; */
}

.menu-col:hover{
    background-color: rgb(56, 56, 56);
    color: #2ab7ca !important;
}

.main-menu-row{
    padding-left: 0rem !important;
    margin-left: 0rem !important;
}

.visible-class{
    visibility: visible !important;
    height: 100% !important;
}

@media only screen and (max-height: 625px){
    .menu-mobile-row{
        visibility: visible;
    }

    .main-menu-row{
        visibility: hidden;
        height: 0rem;
    }
}