.header{
    height: 8rem;
    /* background-color: #274C77; */
    background-color: #262626;
    width: 100% !important;
    margin: 0rem !important;
    max-width: 100% !important;
}

.header-logo{
    position: absolute;
    top: -0rem;
    height: 8rem;
    left: -0.1rem;
}

.header-info{
    color: #D6CCC2;
    margin-bottom: 0rem;
    font-size: 1.1rem;  
    color: #2ab7ca;
    padding-top: 0.2rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.row-header-title{
    text-align: left;
}

.header-title{
    color: #D6CCC2;
    margin-bottom: 0rem;
    font-size: 1rem;  
    float: left;
}

.header-slogan{
    padding-left: 4rem;
    padding-top: 0.5rem;
    color: #D6CCC2;
}

.whatsapp-header{
    color: greenyellow;
    font-size: 1.2rem;
    padding-top: 0.1rem;
    margin-left: auto;
}

.whatsapp-col{
    display: flex;
}

.whatsapp-bubble{
    z-index: 6;
    position: fixed;
    right: 0.6rem;
    bottom: 4rem;
}

.whatsapp-bubble-btn{
    max-width: 4rem;
    transition: max-width 100ms ease-in-out;
    border-radius: 50%;
    box-shadow: 0.1rem 0.3rem 0.7rem 0.1rem black;
}

.whatsapp-bubble-btn:hover{
    max-width: 4.2rem
}

@media only screen and (max-width: 770px){
    .header-contact-data{
        visibility: hidden;
    }

    .whatsapp-bubble{
        bottom: 3rem;
    }

    .header-logo{
        left: 15%;
        width: 70%;
    }

    .whatsapp-bubble{
        z-index: 6;
        position: fixed;
        right: 1rem;
        bottom: 4rem;
    }
}