.map-container{
    padding-top: 10rem;
    padding-bottom: 5rem;
    background-color: #262626;
}


@media only screen and (max-width: 770px){
    .map-container{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}